/* CSS to style form fields */
/* Change the default input and textarea styles */
input[type="text"],
textarea {
  border: 3px solid #ccc; /* Default border color */
  padding: 10px;
  transition: border-color 0.3s ease-in-out; /* Add a smooth transition for border color */
  outline: none;
}

/* Style the form fields when they are focused (selected) */
input[type="text"]:focus,
textarea:focus {
  border-color: #003580; /* Green border color when focused */
  box-shadow: none;
}
