@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:wght@500&family=Roboto:wght@100&family=Trocchi&family=Ysabeau+SC:wght@600&display=swap");

/* MainPage.css */
.carousel-item img {
  position: relative;
  width: 100%;
  max-height: auto;
}

.carousel-item .faded-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Adjust the width as needed */
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  pointer-events: none; /* Allow interaction with the image beneath */
}

/* MainPage.css */
.carousel-caption {
  /* Adjust the padding as needed */
  padding-bottom: 45%;
  width: 50%;
  color: white;
  text-align: left;
  z-index: 2;
}

.logoCarousel {
  font-family: "Montserrat", sans-serif;
  font-size: 65px;

  background-color: rgba(105, 105, 105, 0.527);
  padding-bottom: 0px;
  margin-bottom: 0px;
  box-shadow: 0 0 40px 40px rgba(105, 105, 105, 0.527); /* Adjust spread radius for fading effect */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust shadow values as needed */
  /* background: radial-gradient(
    ellipse at center,
    transparent,
    rgba(95, 94, 94, 0.4),
    transparent
  ); */
}

.lead.mb-4 {
  margin-top: 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust shadow values as needed */

  /* font-family: "Montserrat", sans-serif; */

  background-color: rgba(
    (105, 105, 105, 0.527)
  ); /* Use an RGBA color with an alpha value for transparency */
}

.carousel-header {
  font-size: 40px;
  text-align: left; /* Align text to the left */
  padding-left: 0px;
  margin-right: 50px;
}

/* .carousel-control-prev {
  height: -70%;

  padding-top: 0px;
  margin-top: 0px;

  z-index: 3;
} */
.carousel-control-prev {
  width: 100px; /* Adjust the width of the clickable area */
  height: 100px; /* Adjust the height of the clickable area */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0; /* Position the button on the left side */
}

#customCards {
  padding-top: 30px;
}
