@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:wght@500&family=Roboto:wght@100&family=Trocchi&family=Ysabeau+SC:wght@600&display=swap");

/* Nav.css */
.navbar {
  width: 100%;

  background-color: #003580;
}

.navbar-brand {
  padding-bottom: 0.5%;
  padding-left: 1%;

  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-family: "Montserrat", sans-serif;
}

.nav-link.login {
  color: white;
}
