@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:wght@500&family=Roboto:wght@100&family=Trocchi&family=Ysabeau+SC:wght@600&display=swap");

/* Nav.css */
.navbar {
  transition: width 0.9s ease-in-out, transform 0.3s ease-in-out,
    height 0.3s ease-in-out, transform 0.3s ease-in-out;

  background-color: #005918;
  max-width: 200px;
  height: 100%;
}

.nav-open {
  height: 100%;

  transition: width 0.9s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
  overflow-x: hidden;
}

.navbar-collapse.open {
  transform: translateX(0);
}

body.navbar-open .navbar-collapse {
  padding-right: 15px; /* Adjust padding to account for scrollbar width */
}

body.navbar-open .main-content {
  margin-left: 200px;
  transition: margin-left 0.3s ease-in-out; /* Add a smooth transition */
  /* padding-left: 50px; */
}

/* .main-content {
  margin-left: 250px;
} */

.navbar-brand,
.navbar-toggler-icon {
  padding-bottom: 50%;
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-family: "Montserrat", sans-serif;
}
