.table {
  padding-top: 30px;
  /* margin-top: 10%; */
}

.custom-table {
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  /* border-collapse: separate; */
  border-spacing: 0;
}

.thead {
  background-color: #003580;
  color: white;
}
